In [1]:
import pandas as pd
# 깃허브에 있는 csv 파일을 읽어와서 데이터프레임 df로 넣는다.
df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/USJudgeRatings.csv")
df.head(5)

,Unnamed: 0,CONT,INTG,DMNR,DILG,CFMG,DECI,PREP,FAMI,ORAL,WRIT,PHYS,RTEN
0,"AARONSON,L.H.",5.7,7.9,7.7,7.3,7.1,7.4,7.1,7.1,7.1,7.0,8.3,7.8
1,"ALEXANDER,J.M.",6.8,8.9,8.8,8.5,7.8,8.1,8.0,8.0,7.8,7.9,8.5,8.7
2,"ARMENTANO,A.J.",7.2,8.1,7.8,7.8,7.5,7.6,7.5,7.5,7.3,7.4,7.9,7.8
3,"BERDON,R.I.",6.8,8.8,8.5,8.8,8.3,8.5,8.7,8.7,8.4,8.5,8.8,8.7
4,"BRACKEN,J.J.",7.3,6.4,4.3,6.5,6.0,6.2,5.7,5.7,5.1,5.3,5.5,4.8

In [2]:
# 왜도 계산을 위한 scipy 패키지의 skew() 함수 사용
# scipy 패키지 임포트
import scipy.stats as ss

# 지정한 컬럼의 왜도 계산
print(ss.skew(df["CONT"]))
print(ss.skew(df["PHYS"]))

1.0859724796276253
-1.5582154642293153

In [6]:
import numpy as np

# 변수변환 - log 변환
df["CONT1"] = np.log(df["CONT"])
df["PHYS1"] = np.log(np.max(df["PHYS"] + 1) - df["PHYS"])

# 왜도 계산
print(ss.skew(df["CONT1"]))
print(ss.skew(df["PHYS1"]))

0.6555571886692603
0.5824357748750443

In [7]:
# 변수변환 - log 10 변환
df["CONT2"] = np.log10(df["CONT"])
df["PHYS2"] = np.log10(np.max(df["PHYS"]+1) - df["PHYS"])

# 왜도 계산
print(ss.skew(df["CONT2"]))
print(ss.skew(df["PHYS2"]))

0.6555571886692441
0.582435774875044